.Experience{
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;
    border-radius: 12px;
}

.Companies{
    margin-left: 50px !important;
}

.company-list {
    border-left: 3px solid #123e80; /* Vertical line */
}

.company-list p {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
  transition: background 0.3s ease;
  font-size: 12px;

}

.company-list p.active {
    font-size: 15px;
    font-weight: 1000;
    color: rgb(112, 101, 38);
    border-left: 3px solid #c02626; /* Vertical line */
}

.company-details ul li{
    list-style-type: none;
}

.internship-details{
    list-style-type: disc !important;
}

@media (max-width:600px) {
    .Experience{
        margin: 0;
    }

    .Companies{
        margin-left: 10px !important;
        flex-direction: column;
    }

    .company-list {
        border-left: none; 
        display: flex;
        width: 320px !important;
    }

    .company-list p {
      width: 30%;

      font-size: xx-small;
      font-weight: 500;
      cursor: pointer;
      padding: 5px;
      margin-bottom: 10px;
      transition: background 0.3s ease;
    }

    .company-list p.active {
      font-size: xx-small ;
      font-weight: 500;
      border: none;
      border-bottom: 3px solid #c02626; 
    }

    .company-details h4{
        font-size: 15px;
    }

    .company-details p{
        font-size: 10px;
    }

    .company-details .internship-details {
        font-size: 12px;
    }

    .company-details ul{
        padding: 0;
    }

    .internship-details{
        list-style-type: disc !important;
    }
}

@media (min-width : 601px) and (max-width : 992px) {
    .Experience{
        margin: 0;
    }

    .Companies{
        margin-left: 10px !important;
        flex-direction: column;
    }

    .company-list {
        border-left: none; 
        display: flex;
        width: 440px !important;
    }

    .company-list p {
      width: 30%;
      font-size: xx-small;
      font-weight: 500;
      cursor: pointer;
      padding: 5px;
      margin-bottom: 10px;
      transition: background 0.3s ease;
    }

    .company-list p.active {
      font-size: small ;
      font-weight: 500;
      border: none;
      border-bottom: 3px solid #c02626; 
    }

    .company-details h4{
        font-size: 20px !important;
    }

    .company-details p{
        font-size: 20px;
    }

    .company-details .internship-details {
        margin-left: 20px;
        font-size: 14px;
    }

    .company-details ul{
        padding: 0;
    }
}

@media (max-width: 1200px){
    .Experience{
        margin: 0;
    }
}