.Experience{
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;
    border-radius: 12px;
}

.Companies{
    margin-left: 50px !important;
    flex-direction: column;
    border-left: 3px solid #123e80; /* Vertical line */
}

.company-list {
    display: flex;
    flex-direction: row;
    width: 420px !important;

}

.company-list p {
    width: 100%;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
  transition: background 0.3s ease;
  font-size: 12px;

}

.company-list p {
    position: relative;
}

.company-list p::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    left: 5px;
    bottom: 0;
    background-color: #941919;
    transition: width 0.3s ease;
}

.company-list p.active {
    font-size: 15px;
    font-weight: 900;
    color: rgb(112, 101, 38);
}

.company-list p.active::after {
    width: 50%;
}


.company-details ul li{
    list-style-type: none;
}

.internship-details li{
    list-style-type: disc !important;
}

@media (max-width:600px) {
    .Experience{
        margin: 0;
    }

    .Companies{
        margin-left: 10px !important;
    }

    .company-list {
        border-left: none; 
        width: 320px !important;
    }

    .company-list p {
      width: 40%;
      font-size: xx-small;
      font-weight: 500;
      cursor: pointer;
      padding: 5px;
      margin-bottom: 10px;
    }

    .company-list p.active {
      font-size: xx-small ;
      font-weight: 500;
    }

    .company-details h4{
        font-size: 15px;
    }

    .company-details p{
        font-size: 10px;
    }

    .company-details .internship-details {
        padding-left: 20px;
        font-size: 12px;
    }

    .company-details ul{
        padding: 0;
    }

    .internship-details{
        list-style-type: disc !important;
    }
}

@media (min-width : 601px) and (max-width : 992px) {
    .Experience{
        margin: 0;
    }

    .Companies{
        margin-left: 10px !important;
    }

    .company-list {
        border-left: none; 
        width: 440px !important;
    }

    .company-list p {
      width: 30%;
      font-size: xx-small;
      font-weight: 500;
      cursor: pointer;
      padding: 5px;
      margin-bottom: 10px;
    }

    .company-list p.active {
      font-size: small ;
      font-weight: 500;
    }

    .company-details h4{
        font-size: 20px !important;
    }

    .company-details p{
        font-size: 20px;
    }

    .company-details .internship-details {
        margin-left: 20px;
        font-size: 14px;
    }

    .company-details ul{
        padding: 0;
    }
}

@media (max-width: 1200px){
    .Experience{
        margin: 0;
    }
}