.about .row {
    margin: 0;
}

.about .row .col-left{
    padding: 80px 0 0 0px;
}

.about .row .col-left h2{
    font-size: 50px;
    font-weight: 1000;
}

.about .row .col-left h4{
    font-size: 30px;
    font-weight: 400;
}

.about .row .col-left p{
    font-weight: 600;
}

.about .row .col-right{
    margin-top: 10px;
    padding: 20px 0 0 100px;
}

.about .row .col-right img{
    width: 400px;
}

@media (max-width: 1200px) {
    .about .row {
        align-items: center;
    }
    .about .row .col-left,
    .about .row .col-right {
        padding: 10px; 
        flex: auto;
    }
    .about .row .col-left {
        padding-top: 30px;
        /* text-align: center; */
        padding-left: 15px;
        padding-right: 30px;
        /* margin-right: 20px; */
    }

    .about .row .col-left h2{
        font-size: 50px !important;
    }
    
    .about .row .col-left h4{
        font-size: 40px !important;
    }

    .about .row .col-left p {
        font-size: 14px;
        text-align: justify;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .about .row .col-right {
        width: 30%;
        padding: 10px 15px 0 30px ;
        text-align: center;
    }
    .about .row .col-right img {
        width: 350px;
    }
}

@media (max-width: 992px) {
    .about .row {
        align-items: center;
    }
    .about .row .col-left,
    .about .row .col-right {
        padding: 10px; 
        flex: auto;
    }
    .about .row .col-left {
        padding-top: 30px;
        text-align: center;
        padding-left: 15px;
        padding-right: 30px;
        /* margin-right: 20px; */
    }

    .about .row .col-left h2, h4{
        font-size: 20px !important;
    }

    .about .row .col-left p {
        font-size: 12px;
        text-align: justify;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .about .row .col-right {
        width: 30%;
        padding: 10px 15px 0 30px ;
        text-align: center;
    }
    .about .row .col-right img {
        width: 350px;
    }
}

@media (max-width: 868px) {
    .about .row {
        flex-direction: row; 
        align-items: center;
    }
    .about .row .col-left,
    .about .row .col-right {
        padding: 10px; 
        flex: auto;
    }
    .about .row .col-left {
        padding-top: 30px;
        text-align: center;
        padding-left: 15px;
        padding-right: 30px;
        /* margin-right: 20px; */
    }

    .about .row .col-left h2, h4{
        font-size: 20px !important;
    }

    .about .row .col-left p {
        font-size: 12px;
        text-align: justify;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .about .row .col-right {
        width: 30%;
        padding: 10px 15px 0 30px ;
        text-align: center;
    }
    .about .row .col-right img {
        width: 250px;
    }
}

@media (max-width: 600px) {

    .about .row {
        flex-direction: column; 
    }

    .about .row .col-right {
        text-align: center;
        width: 100% !important;
    }

    .about .row .col-left{
        width: 100% !important;
    }

    .about .row .col-left h2 {
        font-size: 20px;
    }
    .about .row .col-left h4 {
        font-size: 20px !important;
    }
    
    .about .row .col-left p {
        font-size: 12px;
        padding: 0 10px;
    }
}