.nav-container {
  background-color: #b59d7b;
  max-height: 70px;
}

/* Initial visible state */
.nav-container {
  transition: top 0.3s ease;
  top: 0;
  position: sticky;
  z-index: 999;
}

/* Hide on scroll down */
.nav-hidden {
  top: -100px !important; /* Move navbar out of view */
}

.brand-image {
  height: 80px;
  width: 80px;
  transition: transform 0.3s ease, margin 0.3s ease;
}

.brand-container:hover .brand-image {
  transform: scale(0.7);
  margin: -20px 0 0 60px;
}

.brand-text {
  display: none;
  position: absolute;
  top: 80%;
  left: 5%;
  transform: translate(-50%, -50%);
  color: #503a3a;
  font-size: 1.2rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-container:hover .brand-text {
  padding-left: 20px;
  display: block;
  opacity: 1;
}

.sections .nav-link {
  font-size: 20px;
  font-weight: bold;
  color: #503a3a !important;
  position: relative;
  cursor: pointer;
}

.sections .nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #554e26;
  position: absolute;
  left: 10px;
  bottom: -6px;
  transition: 0.5s;
}

.sections .nav-link:hover::after {
  width: 50%;
}

.sections {
  flex-direction: row !important;
  gap: 10px;
}

.custom-toggler {
  padding: 0 3px 0 3px !important;
  font-size: 10px !important;
  border: none !important;
}

.custom-toggler:focus {
  box-shadow: none !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
  flex-basis: 50% !important;
}

.toggle {
  flex-direction: row !important;
  display: flex;
}

@media (max-width : 1200px) {
    .container-fluid {
        padding: 0 !important;
      }
      .brand-container {
        margin-right: 0 !important;
      }
      .brand-image {
        width: 60px;
        height: 60px;
      }
    
      .brand-text {
        font-size: 0.8rem;
      }
    
      .sections .nav-link {
        font-size: 15px;
      }

      .custom-toggler {
        padding: 0 5px !important;
        font-size: 13px !important;
      }
}

@media (max-width : 991px) {
    .container-fluid {
        padding: 0 !important;
      }
      .brand-container {
        margin-right: 0 !important;
      }
      .brand-image {
        width: 60px;
        height: 60px;
      }
    
      .brand-text {
        font-size: 0.8rem;
      }
    
      .sections .nav-link {
        font-size: 15px;
      }

      .sections .nav-link::after {
        left: 0px;
        bottom: -3px;
      }
    
      .sections .nav-link:hover::after {
        width: 70%;
      }

      .custom-toggler {
        padding: 0 5px !important;
        font-size: 13px !important;
      }
}

@media (max-width : 768px){
    .container-fluid {
        padding: 0 !important;
      }
      .brand-container {
        margin-right: 0 !important;
      }
      .brand-image {
        width: 50px;
        height: 50px;
      }
    
      .brand-text {
        font-size: 0.8rem;
        left: 7%;
      }
    
      .sections .nav-link {
        font-size: 15px;
      }

      .custom-toggler {
        padding: 0 5px !important;
        font-size: 13px !important;
      }
}

@media (max-width: 600px) {
  .container-fluid {
    padding: 0 !important;
  }
  .nav-container {
    padding: 0 !important;
  }

  .brand-container {
    margin-right: 0 !important;
  }
  .brand-image {
    width: 40px;
    height: 40px;
  }

  .brand-container:hover .brand-image {
    margin: 0 !important;
  }

  .brand-text {
    font-size: 0.5rem;
    left: 5%;
    padding-left: 30px !important;
  }

  .sections .nav-link {
    font-size: 8px;
    font-weight: 900;
  }

  .custom-toggler {
    padding: 0 3px 0 3px !important;
    font-size: 10px !important;
    border: none !important;
  }
}
